Repository carhartl/lefthook-config: changes, and which lefthook commands are due for each by the changed paths.
All: golangci, hadolint, prettier, shellcheck, shfmt, terraform, tflint, yamllint

golangci:
  tags: lint go
  run: golangci-lint run ./...

hadolint:
  tags: lint iac
  run: hadolint {staged_files} --failure-threshold warning

prettier:
  tags: style glue
  run: prettier --check {staged_files}

shellcheck:
  tags: lint glue
  run: shellcheck {staged_files}

shfmt:
  tags: style glue
  run: shfmt -d {staged_files}

terraform:
  tags: style iac
  run: terraform fmt -check -diff {staged_files}

tflint:
  tags: lint iac
  run: 'for file in {staged_files}; do tflint "$file"; done
  
    '

yamllint:
  tags: lint glue
  run: 'yamllint -d "{extends: default, rules: {line-length: {max: 120}, comments: disable}}" {staged_files}
  
    '

Add check for git repo
  install.sh
Due: shellcheck, shfmt

Run shell script through shfmt
  install.sh
Due: shellcheck, shfmt

Fix setting up commitlint config
  commitlint.config.js
  install.sh
Due: shellcheck, shfmt

Make go linting work for monorepos
  lefthook.yml
Due: prettier, yamllint

Lint only staged Go files
  lefthook.yml
Due: prettier, yamllint

Allow for Dockerfile variants, e.g. Dockerfile.foo
  lefthook.yml
Due: prettier, yamllint

Run both .bash and .shell through shellcheck
  lefthook.yml
Due: prettier, yamllint

Tweak tags for better filtering
  lefthook.yml
Due: prettier, yamllint

Make scoped Git hook configurations
  base.yml
  go.yml
  install.sh
  lefthook.yml
  terraform.yml
Due: prettier, shellcheck, shfmt, yamllint

Add json files to inspect for Prettier
  base.yml
Due: prettier, yamllint

Add GitHub Actions linting to general config
  base.yml
  install.sh
Due: prettier, shellcheck, shfmt, yamllint

Rename functions for clarity
  install.sh
Due: shellcheck, shfmt

Add missing printing functions
  install.sh
Due: shellcheck, shfmt

Add debug switch
  install.sh
Due: shellcheck, shfmt

Add instructions for installing scoped configs
  README.md
Due: prettier

Adapt file name to install + extensions
  base.yaml
  go.yaml
  install.sh
  lefthook.yaml
  lefthook.yml
  terraform.yaml
Due: prettier, shellcheck, shfmt, yamllint

Provide consistent bash script examples
  README.md
Due: prettier

Fix tflint invocation for latest version
  terraform.yaml
Due: prettier, yamllint

Enable autofix in pre-commit hooks when possible
  base.yaml
  terraform.yaml
Due: prettier, yamllint

Fix running golangci-lint in different packages
  go.yaml
Due: prettier, yamllint

Fix typo in comment
  go.yaml
Due: prettier, yamllint

Install shfmt via Homebrew
  install.sh
Due: shellcheck, shfmt

Tweak outputs
  base.yaml
Due: prettier, yamllint

Add devbox plugin
  devbox-plugin/config/commitlint.config.js
  devbox-plugin/config/lefthook.yaml
  devbox-plugin/plugin.json
Due: prettier, yamllint

Add readme for Devbox plugin
  devbox-plugin/README.md
Due: prettier

Specify version number for Devbox plugin
  devbox-plugin/plugin.json
Due: none

Remove Devbox plugin
  devbox-plugin/README.md
  devbox-plugin/config/commitlint.config.js
  devbox-plugin/config/lefthook.yaml
  devbox-plugin/plugin.json
Due: prettier, yamllint

Add Nix flake
  flake.lock
  flake.nix
Due: none

Use Terraform version 1.5.7 in flake
  flake.lock
  flake.nix
Due: none

Add missing lefthook executable itself to flake
  flake.nix
Due: none

Use commitlint config from npmjs
  base.yaml
  install.sh
Due: prettier, shellcheck, shfmt, yamllint

Replace deprecated lefthook config
  install.sh
Due: shellcheck, shfmt

Fix badly performing TFLint command
  terraform.yaml
Due: prettier, yamllint

Fix recursion error for default install
  go.yaml
  terraform.yaml
Due: prettier, yamllint

Do not autofix w/ TFLint
  terraform.yaml
Due: prettier, yamllint

Adapt installation to again always include base
  install.sh
Due: shellcheck, shfmt

Add secrets leak detection for pre-push
  base.yaml
  install.sh
Due: prettier, shellcheck, shfmt, yamllint

Remove outdated outputs configuration
  base.yaml
Due: prettier, yamllint

Fix yaml config for Go pre-push hook
  go.yaml
Due: prettier, yamllint

Fix hooks setup for Go
  go.yaml
Due: prettier, yamllint

Path conditions:
  golangci: any of: *.go
  hadolint: any of: Dockerfile
  prettier: any of: *.{md,yaml,yml}
  shellcheck: any of: *.sh
  shfmt: any of: *.{bash,sh}
  terraform: any of: *.{tf,tfvars}
  tflint: any of: *.{tf,tfvars}
  yamllint: any of: *.{yaml,yml}
